# Week 2 Part 1 Assignments

1. Understand number and answer the following question.
  1. Assign to 10 and 2 on two variables 'a' and 'b' and perform addition, subtraction, multiplication, division and modulo operation. You should properly print answer during each operation.

In [0]:
# 1.1 Type your answer here.
a,b=10,2
sum,diff,mul,div,mod=a+b,a-b,a*b,a/b,a%b
print (sum,diff,mul,div,mod)

12 8 20 5.0 0

2. Write different rules for naming a variable/identifier.

In [0]:
# 2 Type your answer here
 The first character of the identifier must be a letter of the alphabet (upper or lowercase) or an underscore ('_').

The rest of the identifier name can consist of letters (upper or lowercase), underscores ('_') or digits (0-9).

Identifier names are case-sensitive. For example, myname and myName are not the same. Note the lowercase n in the former and the uppercase N in te latter.

Examples of valid identifier names are i, __my_name, name_23 and a1b2_c3.

Examples of invalid identifier names are 2things, this is spaced out and my-name

3.  Understand string and answer the following question.   
 1. Assign 2 string on two variable and perform concatenation.
 2. Assign a string in a variable and print the reverse of the string.
 3. Assign 'lower' to a variable and convert it to upper case.
 4. Assign 'school of ai' into a variable and split it into individual words
 5. Assign 'school of ai' into a variable and find the starting index  of word 'ai'

In [0]:
# 3.1 Type your answer here
a,b="hello ","guys"
s=a+b
print(s)

helloguys

In [0]:
# 3.2 Type your answer here
a="MalaYALAM"
b=list(reversed(a))
print(b)

['M', 'A', 'L', 'A', 'Y', 'a', 'l', 'a', 'M']

In [0]:
# 3.3 Type your answer here
s="hello"
b= s.upper()
print(b)

HELLO

In [0]:
# 3.4 Type your answer here
a='school of ai'
print(a.split())

['school', 'of', 'ai']

In [0]:
# 3.5 Type your answer here

4.  Understand list and answer the following question.   
  1. Create a list with values 10,20,30,40 and find its length and sum
  2. Create a list with values 11,22,55. Pop the last element and store it in a variable called 'x'
  3. Create a list with values 10,20,40 and insert 30 in index 2.
  4. Create a list with values 'a','b','c' and remove 'b' from list
  5. Create a list with values 5,'a','b','c',1,5. select values from index 1 to 3 and store it in a variable called 'alpha_list' using slicing.

In [1]:
# 4.1 Type your answer here
list = [10,20,30,40]
a,b=0,0
for x in list:
  b=b+x
  a=a+1
print("the length and the sum is:",b,a)

the length and the sum is: 100 4

In [2]:
# 4.2 Type your answer here
list =[11,22,55]
x=list[2]
print(x)

55

In [4]:
# 4.3 Type your answer here
list=[10,20,40]
list.insert(2, 40)
print(list)

[10, 20, 40, 40]

In [8]:
# 4.4 Type your answer here
list=['a','b','c']
list.remove("b")
print(list)

['a', 'c']

In [10]:
# 4.5 Type your answer here
list=[5,'a','b','c',1,5]
alpha_list=slice(1,3)
print(alpha_list)

slice(1, 3, None)

5.  Understand dictionary and answer the following question.   
  1. Create a dict with key '1' and value 'odd', key '2' and value 'even'
  2. Create a dict with key '1' and value 'odd', key '2' and value 'even' .Then replace 'even' of key 2 with 'EVEN'

In [12]:
# 5.1 Type your answer here
dict = {
    "1":'odd',
    "2":'even'
}
print(dict)

{'1': 'odd', '2': 'even'}

In [13]:
# 5.2 Type your answer here
dict = {
    "1":'odd',
    "2":'even'
}
del dict["2"]
dict["2"]="EVEN"
print(dict)

{'1': 'odd', '2': 'EVEN'}